.button {
    background: linear-gradient(90deg, #FF6F6F -35.85%, #EB0602 -35.83%, #FF7B41 33.04%, #F09A36 75.6%, rgba(210, 212, 1, 0.0260417) 158.66%, rgba(252, 255, 107, 0) 158.68%);
    border-radius: 40px;
    border: 0;
    width: 251px;
    height: 61px;

    font-size: 30px;
    color: #322A2A;
    font-family: 'Oswald', serif;

    
}
