.container {
    margin-top: 50px;
    color: #322A2A;
    margin: 50px 100px 0 100px;
}

.container h1 {
    font-size: 76px;
    font-weight: 400;
    margin-bottom: 50px;
}

.container h3 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 120px;
    text-transform: uppercase;
}

.container h6 {
    font-size: 36px;
    font-weight: 400;
    max-width: 700px;
}

.container p {
    font-size: 24px;
    font-weight: 400;
    max-width: 500px;
    margin-top: 20px;
}



.button {
    font-family: inherit;
    font-size: 28px;
    font-weight: 200;
    background: none;
    border: 0;
}


.first {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.firstright img {
    max-width: 700px;
    margin-top: 50px;
}

.firstleft img {
    max-width: 700px;
    margin-top: 50px;
}

.second {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
}

.second h3 {
    margin-bottom: 50px;
}

.third {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
}

.third img {
    margin-right: 100px;
    max-width: 600px;
}

.third p:nth-child(3){
    margin-bottom: 220px;
}

.fourth {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 100px;
}

.fourth h3 {
    margin-bottom: 50px;
}